header{
    width: 100%;
    background: white;
    line-height: 0.84rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    position: relative;
    padding-bottom: 0.06rem;
    box-shadow: 0 0 0.8rem 0.01rem rgba(0,0,0,0.1);
}
header .left{
    position: absolute;
    left: 0.24rem;
}
header .iconfont{
	color: #4ebbfe;
    font-size: 0.4rem;
}
header .topleft{
    float: left;
}
header .small{
    float: left;
    font-size: 0.22rem;
}
header .centertext{

}
header .topright{
    position: absolute;
    right: 0.24rem;
}


/*search start*/


.search{
	padding: 0 0.24rem;
	height: 0.76rem;
	line-height: 0.76rem;
}
.search .pos{
	position: relative;
	top: -0.14rem;
	left: 0;
}
.search h2{
	font-size: 0.28rem;
	display: inline-block;
}
.search span{
	font-size: 0.2rem;
}
.search .search-bar{
	position: relative;
	width: 100%;
	height: 0.6rem;
	
}
.search .search-bar input{
	padding-left: 0.72rem;
	border: 1px solid #cde7f8;
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	background: #f2faff;
	border-radius: 0.4rem;
}
.search .search-bar input::-webkit-input-placeholder{
    color: #b9c9d2;
    font-size: 0.24rem;
}

.search-bar i{
	position: absolute;
	width: 0.36rem;
	height: 0.36rem;
	top: -0.1rem;
	left: 0.2rem;
}

/*search end*/

.center_content{
	position: relative;
	width: 100%;
	height: 3.6rem;
	background:url(../img/bit2.png) no-repeat center center;
}

.center_content img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.6rem;
	margin-top: -0.6rem;
	width: 1.2rem;
	height: 1.2rem;
}
.price_info{
	width: 100%;
	line-height: 1rem;
	margin-left: 2.4rem;
	position: absolute;
	top: 2.5rem;
	left: 0.2rem;

}
.price_info span{
	display: inline-block;
	width: 0.1rem;
	margin-bottom: 0.08rem;
	height: 0.08rem;
	background: #007AFF;
}
.price_info b{
	font-size: 0.34rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.sub{
	box-shadow: 0.02rem 0.02rem 0.1rem 0.06rem #d5f8e4;
	margin: 0.1rem auto;
	width: 4rem;
	height: 0.6rem;
	display: block;
	background: linear-gradient(to right,#37e071, #32d699); /* 标准的语法 */
	border-radius: 0.3rem;
	text-align: center;
	line-height: 0.6rem;
	color: #fff;
	font-size: 0.2rem;
}
