header{
    width: 100%;
    background: white;
    line-height: 0.84rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    position: relative;
    padding-bottom: 0.06rem;
    box-shadow: 0 0 0.8rem 0.01rem rgba(0,0,0,0.1);
}
header .left{
    position: absolute;
    left: 0.24rem;
}
header .iconfont{
	color: #4ebbfe;
    font-size: 0.4rem;
}
header .topleft{
    float: left;
}
header .small{
    float: left;
    font-size: 0.22rem;
}
header .centertext{

}
header .topright{
    position: absolute;
    right: 0.24rem;
}


/*search start*/


.search{
	padding: 0 0.24rem;
	height: 0.76rem;
	line-height: 0.76rem;
}
.search .pos{
	position: relative;
	top: -0.14rem;
	left: 0;
}
.search h2{
	font-size: 0.28rem;
	display: inline-block;
}
.search .pos h2 a{
	color: #36a8fe;
}
.search span{
	font-size: 0.2rem;
}
.search .search-bar{
	position: relative;
	width: 100%;
	height: 0.6rem;
	
}
.search .search-bar input{
	padding-left: 0.72rem;
	border: 1px solid #cde7f8;
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	background: #f2faff;
	border-radius: 0.4rem;
}
.search .search-bar input::-webkit-input-placeholder{
    color: #b9c9d2;
    font-size: 0.24rem;
}

.search-bar i{
	position: absolute;
	width: 0.36rem;
	height: 0.36rem;
	top: -0.1rem;
	left: 0.2rem;
}

/*search end*/


.pos_city{
	height: 1.5rem;
	width: 100%;
	position: relative;
}
.pos_city p{
	width:6.8rem;
	padding-left: 0.4rem;
	position: absolute;
	top: 0.6rem;
	left: 0.24rem;
	padding-bottom: 0.34rem;
	padding-right: 0.6rem;
	border-bottom: 0.01rem solid #ccc;
}
.pos_city p span{
	position: absolute;
	top: 0.2rem;
	left: 0.06rem;
	width: 0.14rem;
	height: 0.06rem;
	border-radius: 0.02rem;
	background: #41b2fc;
}

.pos_city p i{
	margin-left: 0.2rem;
	line-height: 0.5rem;
	font-size: 0.26rem;
	font-style: normal;
	text-align: center;
	border-radius: 0.3rem;
	display: inline-block;
	width: 1.06rem;
	height: 0.5rem;
	background: #e7f6ff;
	color: #36a8fe;
}
.sym{
	padding-left: 0.24rem;
	padding-top: 0.3rem;
}

.sym .a,.sym .b{
	margin-bottom: 0.3rem;
	width: 0.46rem;
	height: 0.46rem;
	background: #36a8fe;
	color: #fff;
	text-align: center;
	line-height: 0.46rem;
	border-radius: 50%;	
}
.sym h2{
	position: relative;
	padding-left: 0.4rem;
	font-size: 0.3rem;
	margin-bottom: 0.6rem;
}
.sym h2 span{
	position: absolute;
	top: 0.16rem;
	left: 0.06rem;
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.04rem;
	background: #37ce9a;
}
.sym ul{
	padding-right: 0.6rem;
}
.sym ul li{
	height: 0.8rem;
	line-height: 0.8rem;
	position: relative;
	padding-left: 0.4rem;
	border-bottom: 0.01rem solid lightgray;
}
.sym ul li span{
	position: absolute;
	top: 0.36rem;
	left: 0.06rem;
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.04rem;
	background: #37ce9a;
}
