.order{
        border-bottom: 0.02rem solid #a2deff;       
}


.order-container{
               padding-left: 0.26rem;
               padding-right: 0.26rem;
               box-shadow: 0 0.1rem 0.1rem rgba(41, 167, 255, 0.13) inset;
               
}
.order-container .order-box{
               /* width: 7.51rem; */
               height: 0.83rem;      
}
.order-container .order-box ul{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
}
.order-container .order-box ul li{
               /* width: 1.96rem;
               height: 0.6rem; */
               font-size: 0.2rem;
               color: #e4e7e8;
               line-height: 0.83rem;
               display: block;
}
.order-container .order-box ul li:nth-child(2){
               border-bottom:0.02rem solid #36a8fe;
}
.order-containers{
               padding-left: 0.26rem;
               padding-right: 0.26rem;
}
.order-containers .shop{
               display: flex;
               flex-direction: row;
}
.order-containers .shop img{
               width: 1.74rem;
               height: 1.74rem;
               margin-top: 0.51rem;
               border-radius: 0.1rem;
               box-shadow: 0.05rem 0.05rem  0.21rem rgba(223, 223, 223, 0.43);
}
.order-containers .particulars{
               margin-top: 0.51rem;
               margin-left: 0.24rem;
}
.order-containers .particulars img{
               width: 0.05rem;
               height: 0.05rem;
               margin:0;
}
.order-containers .particulars .order-E{
               color: #9a9d9d;
               font-weight: bold;
               font-size: 0.3rem;
}
.order-containers .particulars .order-T{
               margin-top: 0.23rem;
               color: #36a8fe;
               font-weight: bold;
               font-size: 0.26rem;
}
.order-containers .particulars p{
               color: #c7caca;
               font-size:0.22rem;
}
.order-containers .particulars .order-price{
               color: #8a8c8d;
               font-size: 0.26rem;
               margin-top: 0.36rem;
               display: block;
               font-weight: bold;
}
.order-containers .order-pay{
               margin-top:0.46rem;
               font-size: 0.24rem;
               color: #fbb548;
               margin-left: 4.98rem;
}
.order-containers .order-cancel{
               background:#e7f6ff;
               border-radius: 0.5rem;
               width: 1.96rem;
               height: 0.6rem;
               text-align: center;
               line-height: 0.6rem;
               color: #3bacfe;
}
.order-containers .order-ka{
               margin-top:0.42rem;
               display: flex;
               flex-direction: row-reverse;
}
.order-containers .order-topayfor{
               border-radius: 0.5rem;
               width: 1.96rem;
               height: 0.6rem;
               text-align: center;
               line-height: 0.6rem;
               background: linear-gradient(to right, #37e071, #32d699);
               margin-left: 0.3rem;
               box-shadow: 0.5rem 0.5rem 0.21rem rgba(55, 223, 116, -61);
}