/*
* @Author: e
* @Date:   2018-09-27 09:23:48
* @Last Modified by:   e
* @Last Modified time: 2018-09-27 09:33:03
*/

i{
    font-style: normal;
}

main{
    padding:0.5rem 0.24rem 0 0.24rem;

}
main .goods{
    height: 3.52rem;
    width:  100%;
    border-bottom: rgba(0,0,0,0.04) 0.02rem solid;

}
main .goods .content{
    display: flex;
}

main .goods img{
    width: 2.61rem;
    height: 2.61rem;
    margin-top: -0.16rem;
    margin-right: 0.24rem;
    margin-left: -0.14rem;
}
main .goods .text{
    width: calc(100% - 2.85rem);
    height: 100%;
}
/*//潜水艇高端龙头*/
main .goods .text h3{
    font-size: 0.3rem;
    color: rgba(0,0,0,0.6);
}
/*型号*/
main .goods .text .model{
    display: flex;
    align-items: center;
    padding:0.06rem 0;
}
main .round{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    margin-right: 0.08rem;
}
main .round.blue{
    background: #44b5ff;
    box-shadow: 0 0.01rem 0.05rem 0.01rem rgba(68,181,255,0.43);

}
main .round.green{
    background: #36d681;
    box-shadow: 0 0.01rem 0.05rem 0.01rem rgba(54,214,129,0.43);

}
main .goods .text .number span{
    font-size: 0.26rem;
    color: #36a8fe;
}
main .goods .text .norms span{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
}
/*价格*/
main .goods .text .price{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}
main .goods .text .price span,h1{
    font-size: 0.26rem;
    color: #afb1b2;
}
/*数量*/

main .goods .text .price .left,.right{
    display: flex;
    align-items: center;
}
main .goods .text .price .right h6,h7{
    font-size: 0.24rem;
    color: #afb1b2;
}
/*实际付款*/
main .actual{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.24rem;
    color: #fbb548;
    padding:0.2rem 0;
}

/*退款*/
.refund{
    padding:0 0.24rem;
}
.refund .only .tui{
    display: flex;
    align-items: center;
}
.refund .only .tui .round{
    width: 0.1rem;
    height: 0.05rem;
    margin-right: 0.08rem;
    border-radius: 0.025rem;
}
.refund .only .tui .round.blue{
    background: #44b5ff;
    box-shadow: 0 0.01rem 0.05rem 0.01rem rgba(68,181,255,0.43);

}
.refund .only .tui .round.orange{
    background: #fcbc41;
    box-shadow: 0 0.01rem 0.05rem 0.01rem rgba(252,188,65,0.43);
}
.refund .only .tui .round.green{
    background: #36d681;
    box-shadow: 0 0.01rem 0.05rem 0.01rem rgba(54,214,129,0.43);
}
.refund .only{
    width: 100%;
    height: 1.06rem;

    line-height: 1.06rem;
}
.refund .only .tui h2,i{
    font-size: 0.26rem;
    font-weight: bold;
    color: black;
}


/*退款原因*/
.reason{
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0,0.04) 0.02rem solid;

}
.refund .only .wrong span{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);
    margin-right: 0.18rem;
}.refund .only .wrong i{
     font-size: 0.26rem;
     color: #44b5ff;
     margin-right: 0.18rem;
 }
.refund .only .blue i{
    color: #44b5ff;
}
/*退款金额*/
.refund .only .orange i{
    color: #fbb548;
}
.refund .only .orange span{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    margin-left: 0.18rem;
}
.sum .only .money{
    font-size: 0.32rem;
    color: #fbb548;
    display: flex;
    line-height: 0.01rem;
    font-weight: bold;
}
.sum .only .money h1{
    font-size: 0.32rem;
    color: #fbb548;
    font-weight: bold;
}
/*退款说明*/
.explain{
    margin-top: 0.4rem;
    width: 100%;
    padding:0 0.24rem;
}
.explain textarea{
    width: 100%;
    height: 1.48rem;
    background: #e7f6ff;
    border-radius: 0.08rem;
    padding:0.24rem 0.24rem;

}
.explain textarea::-webkit-input-placeholder{
    color: #b9c9d2;
    font-size: 0.24rem;
}

/*上传凭证*/

.refund .only .green span{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    margin-left: 0.18rem;
}
.upload .only .tui{
    margin-top: 0.2rem;
    height: 0.6rem;
}
.refund .only .green i{
    color: #36d681;
}
.refund .only .pic{
    width: 1.39rem;
    height: 1.39rem;
}
.refund .only .pic img{
    width: 100%;
    height: 100%;
}
/*提交按钮*/
.submit{
    width: 100%;
    height: 1rem;
    text-align: center;
    margin-top: 1.8rem;

}
button{
    width: 4.54rem;
    height: 0.6rem;
    color: #fff;
    font-size: 0.2rem;
    border-radius: 0.3rem;
    border:none;
    background:linear-gradient(to right,#37e06f,#32d69a);
    box-shadow: 0 0 0.2rem 0.04rem rgba(55,223,116,0.75);
}