header{
    width: 100%;
    background: white;
    line-height: 0.84rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    position: relative;
    padding-bottom: 0.06rem;
    box-shadow: 0 0 0.8rem 0.01rem rgba(0,0,0,0.1);
}
header .left{
    position: absolute;
    left: 0.24rem;
}
header .iconfont{
	color: #4ebbfe;
    font-size: 0.4rem;
}
header .topleft{
    float: left;
}
header .small{
    float: left;
    font-size: 0.22rem;
}
header .centertext{

}
header .topright{
    position: absolute;
    right: 0.24rem;
}


/*search start*/


.search{
	padding: 0 0.24rem;
	height: 0.76rem;
	line-height: 0.76rem;
}
.search .pos{
	position: relative;
	top: -0.14rem;
	left: 0;
}
.search h2{
	font-size: 0.28rem;
	display: inline-block;
}
.search span{
	font-size: 0.2rem;
}
.search .search-bar{
	position: relative;
	width: 100%;
	height: 0.6rem;
	
}
.search .search-bar input{
	padding-left: 0.4rem;
	border: 1px solid #cde7f8;
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	background: #f2faff;
	border-radius: 0.4rem;
}
.search .search-bar input::-webkit-input-placeholder{
    color: #b9c9d2;
    font-size: 0.24rem;
}
.sousuobg{
	position: absolute;
	top: 0.04rem;
	border-radius: 0.4rem;
	right: 0.1rem;
	width: 0.8rem;
	height: 0.5rem;
	background:#a4e0bd;
}
.search-bar i{
	position: absolute;
	width: 0.36rem;
	color: #fff;
	height: 0.36rem;
	top: -0.08rem;
	right: 0.34rem;
}

/*search end*/


.box_center{
	text-align: center;
	width: 4rem;
	height: 2.68rem;
	position: absolute;
	top: 50%;
	left: 40%;
	color:rgba(0,0,0,0.4);
	margin-top: -1.41rem;
	margin-left: -1.34rem;
}
.box_center img{
	width: 2.82rem;
	height: 2.68rem;
}
