header{
    width: 100%;
    height: 0.84rem;
    background: white;
    line-height: 0.84rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    position: relative;
    box-shadow: 0 0 0.8rem 0.01rem rgba(41,167,255,0.13);
}
header .left{
    position: absolute;
    left: 0.24rem;
}
header .iconfont{
    font-size: 0.4rem;
}
header .topleft{
    float: left;
}
header .small{
    float: left;
    font-size: 0.22rem;
}
header .centertext{
    font-family: "苹方 粗体";
}
header .topright{
    position: absolute;
    right: 0.24rem;
}
main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
main .login{
    height: 0.87rem;
    width: 5.18rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.87rem;
    margin: 2.3rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "苹方 粗体";
    font-weight: bold;
}
main .login .qucily{
    color: rgba(0,0,0,0.6);
    position: relative;
}
main .phone{
    display: flex;
    flex-direction: row;
    width: 5.18rem;
    height: 0.82rem;
    align-items: center;
    margin: 0.3rem auto 0;
    border-bottom: 0.02rem solid rgba(0,0,0,0.05);
}
main .phone img{
    width: 0.48rem;
    height: 0.55rem;
    display: block;
}
main .phone .ma{
    color:#40b1ff;
    font-family: "苹方 粗体";
}
main .phone input{
    font-family: "苹方 常规";
    padding-left: 0.24rem;
}
main input::-webkit-input-placeholder{
    color: #b9c9d2;
    font-size: 0.22rem;
}
main .yz{
    display: flex;
    flex-direction: row;
    width: 5.18rem;
    height: 0.9rem;
    align-items: center;
    margin: 0.3rem auto 0;
    border-bottom: 0.02rem solid rgba(0,0,0,0.05);
}
main .yz img{
    width: 0.36rem;
    height: 0.39rem;
    display: block;
}
main .yz input{
    width: 100%;
    font-family: "苹方 常规";
    padding-left: 0.24rem;
}
main .password{
    display: flex;
    flex-direction: row;
    width: 5.18rem;
    height: 0.9rem;
    align-items: center;
    margin: 0.3rem auto 0;
    border-bottom: 0.02rem solid rgba(0,0,0,0.05);
}
main .password img{
    width: 0.42rem;
    height: 0.45rem;
    display: block;
}
main .password input{
    font-family: "苹方 常规";
    padding-left: 0.24rem;
    width: 100%;
}
main .repassword{
    display: flex;
    flex-direction: row;
    width: 5.18rem;
    height: 0.9rem;
    align-items: center;
    margin: 0.3rem auto 0;
    border-bottom: 0.02rem solid rgba(0,0,0,0.05);
}
main .repassword img{
    width: 0.42rem;
    height: 0.45rem;
    display: block;
}
main .repassword input{
    font-family: "苹方 常规";
    padding-left: 0.24rem;
    width: 100%;
}
main .q_sign{
    width: 3.86rem;
    height: 0.52rem;
    background: #e7f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3bacfe;
    font-family: "苹方 粗体";
    border-radius: 0.26rem;
    margin: 0.4rem auto;
    font-size: 0.2rem;
}
main .text{
    height: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 0.22rem;
    font-family: "苹方 粗体";
    color: rgba(0,0,0,0.3);
}
.demo--label{
    /*margin:20px 20px 0 0;*/
    display:inline-block
}
.demo--radio{
    display:none
}
.demo--radioInput{
    background-color:#e7f6ff;
    /*border:2px solid rgba(0,0,0,0.15);*/
    border-radius:50%;
    display:inline-block;
    height:20px;
    margin-right:10px;
    margin-top:-1px;
    vertical-align:middle;
    width:20px;
    line-height:1
}
.demo--radio:checked + .demo--radioInput:after{
    background-color:#7ac2fe;
    border-radius:50%;
    content:"";
    display:inline-block;
    height:8px;
    margin-left:6px;
    margin-top:6px;
    width: 8px;
}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{
    border-radius:0
}
.demo--radio:checked + .demo--radioInput{
    border:none;
}

