header{
    box-shadow: none;
}
.top{
    width: 100%;
    height: 3.45rem;
    padding:0 0.24rem;
    position: relative;
    box-shadow: 0 0.2rem 0.8rem 0.01rem rgba(41,167,255,0.13);
}
i{
    font-style: normal;
}
input{
    width: 100%;
    height: 0.6rem;
    border-radius: 0.3rem;
    background: rgba(235,247,255,0.58);
    border: 0.03rem solid #e8f6ff;
    display: block;
    font-size: 0.24rem;
    color: #c8d9e6;
    padding-left: 0.3rem;
}
.sousuo{
    width: 0.79rem;
    height: 0.44rem;
    border-radius: 0.21rem;
    background: #a4e0bd;
    position: absolute;
    top: 0.09rem;
    right: 0.34rem;
    text-align: center;
}
.xingqing{
    width: 100%;
    height: 1.74rem;
    padding: 0.5rem 0.24rem 0;
}
.xingqing .left{
    width: 1.74rem;
    height: 1.74rem;
    float: left;
    border-radius: 0.1rem;
}
.xingqing .right{
    width: calc(100% - 1.74rem);
    height: 1.74rem;
    float: left;
    padding-left: 0.31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.xingqing .right p{
    font-size: 0.3rem;
    color: rgba(0,0,0,0.6);
}
.xingqing .right .two .dot{
    margin-top: 0.12rem;
}
.xingqing .right .two p{
    margin-left: 0.1rem;
}
.xingqing .right .two i{
    margin-left: 0.04rem;
    color: #44b5ff;
}
.xingqing .right .two .second{
    margin-left: 0.4rem;
}
.dot{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
}
.xingqing .right .fuwu{
    display: flex;
 font-size: 0.26rem;
    color: #a4e0bd;
    line-height: 0.26rem;
}
.xingqing .right .fuwu img{
    width: 0.26rem;
    height: 0.26rem;
}
.xingqing .right .fuwu .time{
    margin-left: 0.15rem;
}
.xingqing .right .zuijin .keyue{
    width: 2.04rem;
    height: 0.35rem;
    background: rgba(59,171,255,0.1);
    border-radius: 0.175rem;
    color: #36a8fe;
    font-size: 0.24rem;
    line-height: 0.35rem;
    padding-left: 0.1rem;
}
.xingqing .right .zixun{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.24rem;
    height: 0.45rem;
    background-color: #3bacfe;
    font-size: 0.22rem;
    color: #fff;
    border-radius: 0.225rem;
    text-align: center;
    line-height: 0.45rem;
}
.center{
    width: 100%;
    height: 1.39rem;
}
.center ul{
    display: flex;
    justify-content: space-between;
    padding: 0.42rem 1.1rem;
}
.center li{
    width: 1.5rem;
    height: 0.52rem;
    background: rgba(59,172,254,0.1);
    font-size: 0.2rem;
    color: #3bacfe;
    text-align: center;
    line-height: 0.52rem;
    border-radius: 0.26rem;
    box-shadow: 0.02rem 0.02rem 0.12rem 0.01rem rgba(59,172,254,0.43);
}
.center .active{
    background: #3bacfe;
    color: #ffffff;
}
.blue{
    width: 100%;
    height: 0.68rem;
    background: #3bacfe;
    padding: 0 0.35rem;

}
.blue ul{
    display: flex;
    justify-content: space-between;
}
.blue li{
    width: 1.39rem;
    height: 100%;
    text-align: center;
    line-height: 0.68rem;
    color: rgba(255,255,255,0.6);
    position: relative;
}
.blue li .jian{
    width: 0.1rem;
    height: 0.1rem;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -0.05rem;
    left: 0.645rem;
}
.blue li .xia{
    width: 100%;
    height: 0.05rem;
    background: white;
    position: absolute;
    bottom: -0.03rem;
    left: 0;
}

.list{
    width: 100%;
    height: 1.97rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.list .box{
    width: 1.97rem;
    height: 1.97rem;
    background: white;
    border-radius: 0.1rem;
    margin-left: 0.24rem;
    padding: 0.25rem;
    float: left;
    box-shadow: 0 0 0.12rem 0.01rem rgba(0,0,0,0.1);
}
.list .big{
    float: left;
}
.list .box img{
    width: 100%;
    height: 100%;
}
.list .big h3{
    /*float: left;*/
    margin-left: 0.25rem;
    /*color: #8a8b8c;*/
    font-weight: normal;
    font-size: 0.3rem;
    margin-top: 0.1rem;
}
.list .big p{
    font-size: 0.23rem;
    margin-left: 0.25rem;
    padding-top: 0.05rem;
    color: #afb1b2;
}
.list .big .small{
    width: 0.05rem;
    height: 0.05rem;
    background: #3bacfe;
    border-radius: 50%;
    margin-left: 0.25rem;
    margin-top: 0.3rem;
    /*float: left;*/
}
.list .big h4{
    font-size: 0.22rem;
    margin-left: 0.4rem;
    margin-top: -0.15rem;
    color: #afb1b2;
}
.list .big h5{
    font-size: 0.22rem;
    margin-left: 1rem;
    margin-top: -0.28rem;
    color: #36a8fe;
    font-weight: normal;
}
.list .big .xiao{
    width: 0.05rem;
    height: 0.05rem;
    background: #36d681;
    border-radius: 50%;
    margin-left: 1.9rem;
    margin-top: -0.16rem;
}
.list .big h1{
    font-size: 0.22rem;
    margin-left: 2.02rem;
    margin-top: -0.18rem;
    color: #afb1b2;
    font-weight: normal;
}
.list .big h2{
    font-size: 0.22rem;
    margin-left: 2.6rem;
    margin-top: -0.26rem;
    color: #36a8fe;
    font-weight: normal;
}
.list .big h6{
    font-size: 0.22rem;
    margin-left: 2.6rem;
    margin-top: -0.26rem;
    color: #fbb548;
    font-weight: normal;
    float: right;
}
.list .big img{
    width: 0.3rem;
    height: 0.3rem;
    margin-left: 0.24rem;
}
.list .big i{
    font-style: normal;
    color: #d2d2d2;
    font-size: 0.2rem;
}
.middle{
    width: 100%;
    height: 1rem;
    box-shadow: 0 0 0.8rem 0.01rem rgba(41,167,255,0.13);
    display: flex;
    justify-content: space-around;
}
.middle .one{
    width: 1.45rem;
    height: 0.93rem;

    margin-left: 0.24rem;
    text-align: center;
    line-height: 0.93rem;
    color: #3bacfe;
}
.middle .play{
    border-bottom: 0.05rem solid #3bacfe;
}
.middle .one:nth-child(5){
    margin-right: 0.24rem;
}
.pin{
    width: calc(100% - 0.48rem);
    height: 2.3rem;
    /*background: red;*/
    border-bottom: 0.01rem solid #f4f4f4;
    margin: 0 auto;
}
.pin .pic{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    /*background: red;*/
    margin-top: 0.3rem;
}
.pin .pic img{
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.pin p{
    margin-left: 1.7rem;
    margin-top: -1rem;
}
.pin span{
    float: right;
    margin-top: -0.35rem;
    margin-right: 0.24rem;
    color: #3bacfe;
}
.pin h3{
    margin-left: 1.7rem;
    font-size: 0.2rem;
    margin-top: 0.2rem;
}
.pin h4{
    margin-left: 1.7rem;
    font-size: 0.2rem;
    margin-top: 0.2rem;
    color: #afb1b2;
}
.pin .diyi{
    width: 0.5rem;
    height: 0.5rem;
    float: right;
    margin-right: 1rem;
}
.pin .dier{
    width: 0.5rem;
    height: 0.5rem;
    float: right;
    margin-right: -1.3rem;
}

.pi{
    width: calc(100% - 0.48rem);
    height: 3.5rem;
    /*background: red;*/
    border-bottom: 0.01rem solid #f4f4f4;
    margin: 0 auto;
}
.pi .pic{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    /*background: red;*/
    margin-top: 0.3rem;
}
.pi .pic img{
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.pi p{
    margin-left: 1.7rem;
    margin-top: -1rem;
}
.pi span{
    float: right;
    margin-top: -0.35rem;
    margin-right: 0.24rem;
    color: #3bacfe;
}
.pi h3{
    margin-left: 1.7rem;
    font-size: 0.2rem;
    margin-top: 0.2rem;
}
.pi h4{
    margin-left: 1.7rem;
    font-size: 0.2rem;
    margin-top: 0.2rem;
    color: #afb1b2;
}
.pi .diyi{
    width: 0.5rem;
    height: 0.5rem;
    float: right;
    margin-right: 1rem;
}
.pi .dier{
    width: 0.5rem;
    height: 0.5rem;
    float: right;
    margin-right: -1.3rem;
}
.pi .disan{
    width: 1.8rem;
    height: 1rem;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
}
.bigbox{
    /*display: none;*/
}
.smallbox{
    display: none;
}
.zhongbox{
    display: none;
}
.chabox{
    display: none;
}
.tubox{
    display: none;
}